<!DOCTYPE HTML >
<html>

    <head>
        <% include partials/headBase %>
    </head>

    <body>
        <% include partials/navbar %>

        <div ng-app="index" ng-controller="mainCtrl" >
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-5">
                        <h3 class="text-center">About me</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Morbi tempus iaculis urna id volutpat lacus laoreet non. Scelerisque in dictum non consectetur a erat nam. Rhoncus urna neque viverra justo nec ultrices. Lacus laoreet non curabitur gravida. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam. Maecenas volutpat blandit aliquam etiam. Eu sem integer vitae justo. Commodo elit at imperdiet dui accumsan sit amet nulla. Arcu odio ut sem nulla pharetra diam sit amet. Senectus et netus et malesuada fames ac turpis. Sodales neque sodales ut etiam sit amet nisl purus in. Ac turpis egestas sed tempus urna. Ut etiam sit amet nisl purus in. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Sagittis purus sit amet volutpat consequat mauris. Amet aliquam id diam maecenas ultricies. Pretium aenean pharetra magna ac placerat vestibulum lectus. Eget gravida cum sociis natoque.</p>
                        <p>Felis eget velit aliquet sagittis id. Interdum varius sit amet mattis vulputate. Fames ac turpis egestas sed tempus urna et pharetra. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Nunc sed augue lacus viverra vitae congue eu consequat ac. Adipiscing elit pellentesque habitant morbi. Mi ipsum faucibus vitae aliquet nec ullamcorper. Erat imperdiet sed euismod nisi. Nam libero justo laoreet sit amet cursus sit. Sed sed risus pretium quam vulputate dignissim suspendisse. Eu sem integer vitae justo eget magna fermentum iaculis eu. Non blandit massa enim nec.</p>
                        <p>Varius morbi enim nunc faucibus a. Senectus et netus et malesuada fames ac turpis. Vestibulum lectus mauris ultrices eros. Ultricies tristique nulla aliquet enim. Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue. Ac ut consequat semper viverra nam. Eu lobortis elementum nibh tellus molestie nunc. Enim nunc faucibus a pellentesque sit amet. Diam vulputate ut pharetra sit amet aliquam id. Ipsum a arcu cursus vitae congue mauris rhoncus aenean. Quis hendrerit dolor magna eget est. Nunc non blandit massa enim nec. Lacinia quis vel eros donec ac odio tempor orci dapibus. In eu mi bibendum neque egestas congue quisque egestas diam. Velit sed ullamcorper morbi tincidunt ornare massa. In nisl nisi scelerisque eu ultrices vitae. Volutpat est velit egestas dui id ornare arcu.</p>
                    </div>
                        
                </div>
            </div>
            <% include partials/footer %>
        </div>
        
        <% include partials/scripts %>
    </body>

</html>